.search{
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.search input#search{
  width: 40px;
  height: 40px;
  background: #1f2a33;
  border: none;
  font-size: 13pt;
  float: left;
  color: #262626;
  padding-left: 35px;
  padding-right: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #697a88;
  font-family: 'Roboto Condensed', sans-serif;
 
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;
}

.search .icon{
  position: absolute;
  top: 50%;
  margin:12px ;
  margin-left: 15px;
  z-index: 1;
  color: #697a88;
}
.search input#search:focus, .container-2 input#search:active{
  outline:none;
  width: 100%;
}
 
.search:hover input#search{
width: 100%;
}
 
.search:hover .icon{
  color: #93a2ad;
}
