<div *ngIf="nations.length >= 1 && !isFetching" class="row" style="padding: 10px;">
    <div class="col-lg-12" style="font-size: 20px;color:#38454f;padding:5px 5px">Danh sách quốc gia<button (click)="Cancel()" class="cancel">Đóng</button></div>
    <div class="col-lg-3 col-4" style="padding: 5px;margin: 0;" *ngFor="let nation of nations">
        <div class="item">
            <div class="row">
                <div class="col-lg-9" style="padding: 10px;">{{nation.name}}</div>
                <div class="col-lg-3">
                    <div class="number">{{getLength(nation)}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<p style="color: white;padding:20px 10px" *ngIf="nations.length < 1 && !isFetching">Danh sách trống!</p>
<p *ngIf="isFetching" style="margin-bottom: 15px;color: white;font-size: 20px;padding:20px 10px">Loading...</p>