.itemnation{
    background-color: #1e2931;
    padding: 40px 10px;
    border:1px solid transparent;
    padding-left: 20px;
    border-radius: 15px;
    text-align: center;
    font-size: 28px;
    color: #98a6b0;
    font-family: 'Francois One', sans-serif;
}
.itemnation:focus{
    background-color: #2a4875;
    color: #07172e;
}