.form-control{
    height: 45px;
    background-color: #1a242b;
    border: none;
    padding-left: 10px;
    border-radius: 5px;
    font-size: 18px;
    color: cornflowerblue;
    font-family: 'Roboto Condensed', sans-serif;
    border: 1px solid cornflowerblue;
}
.form-group{
    color: #667079;
}
.btn{
    color: black;
    font-weight: bolder;
    border:none;
    border-radius: 25px;
    font-size: 18px;
    padding: 8px 20px;
    background-color: cornflowerblue;
}