.form-control{
    height: 40px;
    background-color: #182027;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #d2dce4;
    font-family: 'Roboto Condensed', sans-serif;

}
.form-group{
    color: #667079;
}