<div class="container-fluid">
    <div style="padding: 20px;margin-top: 90px;margin-bottom: 10px;">
        <p class="danhsach" align="center">DANH SÁCH PHIM</p>
    </div>
    <div align="center" style="margin-bottom: 10px;" *ngIf="!show">
        <button (click)="show = !show" style="font-size: 12px ;font-weight: 600; color:#394854; border-radius:5px; padding:5px 30px;background-color:transparent; border:2px solid #394854; margin:0 5px;">hiển thị bộ lọc</button>
    </div>
    <div align="center" style="margin-bottom: 10px;" *ngIf="show">
        <button (click)="show = !show" style="font-size: 12px ;font-weight: 600;color:black; border-radius:5px; padding:5px 45px;background-color:#394854; border:2px solid black; margin:0 5px;">ẩn bộ lọc</button>
    </div>
    <div *ngIf="show" style="border-radius:5px;padding: 20px;background-color: #090d11;margin: 15px;">
        <h3 align="center" style="font-family: 'Yanone Kaffeesatz', sans-serif;font-size: 30px;color: #5d666e;">Thể loại</h3>
        <div Align="center">
            <app-home-category-item *ngFor="let category of categorys; let i = index" [category]="category" [index]="i">
            </app-home-category-item>
        </div>
    </div>
    <div>
        <div *ngIf="movies.length >= 1 && !isFetching" class="row" style="margin-bottom: 0px">
            <div class="col-lg-4" style="padding: 0 30px;">
                <div class="box">
                    <div class="search">
                        <span class="icon"><i class="fa fa-search"></i></span>
                        <input type="search" id="search" placeholder="nhập tên phim..." type="text" list="movies"
                            name="movies" [(ngModel)]='selected' (change)="selectMovieName(selected)" />
                    </div>
                </div>
                <datalist id="movies">
                    <div style="width: 100%;">
                        <select style="width: 100%;">
                            <option *ngFor="let movie of movies" [value]="movie.name"></option>
                        </select>
                    </div>
                </datalist>
            </div>
            <div class="col-lg-8"></div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>